<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../Styles/style.css">

    <title>Week 1</title>
</head>
<body>
  <h1>Welcome!</h1>
  <p>hello how are you</p>
  <a href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'>Definitely Not a Rick Roll</a>
<br/>
  <label for="age">Age:</label>
  <input type="text" id="age" name="age">
  <button onclick="calculateYear()">go</button>
  <script src="../Scripts/DataTypes/dataTypes.js"></script>
  <script src="../Scripts/DataTypes/Coding Challeges/codingChallenges.js"></script>
</body>
</html>